<template>
    <section class="contact-page">

        <h1 class="title text-center">Contact our Company</h1>

        <div class="container">
            <div class="row mb-5">
                <div class="col-md-6">
                    <div class="wrapper-inquiries">
                        <h4 style="font-weight: 600; font-size: 23px;">Inquiries</h4>
                        <div class="form">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" v-model="form.email">
                            </div>

                            <div class="mb-3">
                                <label for="fullname" class="form-label">Full Name</label>
                                <input class="form-control" id="fullname" v-model="form.fullName">
                            </div>

                            <div class="mb-3">
                                <label for="phoneNumber" class="form-label">Phone Number</label>
                                <input class="form-control" id="phoneNumber" v-model="form.phoneNumber">
                            </div>

                            <div class="mb-3">
                                <label for="subject" class="form-label">Subject</label>
                                <input class="form-control" id="subject" v-model="form.subject">
                            </div>

                            <div class="mb-3">
                                <label for="promotion" class="form-label">Promotion Code</label>
                                <input class="form-control" id="promotion" v-model="form.promotionCode">
                            </div>

                            <div class="mb-3">
                                <label for="message" class="form-label">Message</label>
                                <textarea class="form-control" v-model="form.message"
                                    placeholder="Leave a message here"></textarea>
                            </div>

                            <button @click="OnRegister" v-if="isAuth" class="btn btn-primary ">Submit</button>
                            <button @click="OnRegister" disabled v-else class="btn btn-primary ">Submit</button>

                            <p class="mt-2 text-danger" v-if="!isAuth">Login First To Send Inquiry !</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="wrapper-address">
                        <h4 style="font-weight: 600;font-size: 23px;" >Company Info</h4>
                        <h6><i class="bi bi-geo-alt-fill"></i> Address : {{ companyInfo.address }}</h6>
                        <h6><i class="bi bi-envelope-fill"></i> Email : {{ companyInfo.companyEmail }}</h6>
                        <h6><i class="bi bi-telephone-fill"></i> Phone Number : {{ companyInfo.phoneNumber }}</h6>
                        <h6><i class="bi bi-telegram"></i> Telegram : {{ companyInfo.telegram }}</h6>
                        <div class="map mt-4" style="overflow: hidden;">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3076.508636360755!2d104.92916419275927!3d11.585157557820821!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x310953fd9f9a51e9%3A0xc26eafcd2ed5ca29!2sNorton%20University!5e0!3m2!1sen!2skh!4v1691143276626!5m2!1sen!2skh"
                                width="600" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade">
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import AlertSuccessModel from "../components/modals/AlertSuccessModal"
import axios from 'axios'


export default {
    components: {
        AlertSuccessModel
    },
    data() {
        return {
            form: {
                email: '',
                fullName: '',
                phoneNumber: '',
                subject: '',
                promotionCode: '',
                message: '',
            },
            companyInfo: Object,
            isAuth: false

        }
    },
    methods: {
        async OnRegister() {

            const token = localStorage.getItem("token")

            const bearerToken = `Bearer ${token?.substring(1, token.length - 1)}`

            const header = {
                'Content-Type': 'application/json',
                'Authorization': bearerToken
            }

            const result = await axios.post(`messages/create`, this.form, { headers: header }).then(res => {
                console.log(res)
                if (res.status == 201) {
                    // TODO: alert success modal
                }
            })
        },

        async getCompanyInfo() {
            console.log('here >>')
            const companyInfo = await axios.get('company-info').then(res => res.data)
            this.companyInfo = companyInfo

        },
        isLogin() {
            const token = localStorage.getItem("token")
            return token
        }
    },

    async mounted() {
        await this.getCompanyInfo()
        const token = await this.isLogin()
        console.log(token)
        if(token !== null){
            this.isAuth = true
        }

    }
}
</script>

<style lang="scss" scoped>
.contact-page {
    margin-top: 150px;

    .wrapper-address {
        h6 {
            margin-top: 40px;
        }

        .bi {
            color: rgb(9, 62, 118);
            font-size: 20px;
        }

        .map {
            border: 16px solid rgb(17, 76, 108);
            border-radius: 16px;
        }
    }
}
</style>