<template>
    <HomeSlider />
    <AboutUs />
    <Service />
    <Product />
    <Industry />
    <Partner />
</template>

<script lang="ts" >
import HomeSlider from '@/components/HomeSlider.vue';
import AboutUs from '@/components/AboutUs.vue';
import Service from '@/components/Service.vue';
import Product from '@/components/Product.vue';
import Industry from '@/components/Industry.vue';
import Partner from '@/components/Partner.vue';


export default {
    components: {
        HomeSlider, AboutUs, Service, Product, Industry, Partner
    },
    data() {
        return {
        }
    }


}

</script>