<template>
  <div class="industry-page container p-4">
    <h2>Industry</h2>
    <div class="mt-5">
      <!-- <ul class="ul-industry list-unstyled m-0">
                <li class="list-industry" data-aos="zoom-in-down" v-for="industry in industries">
                    <div class="industry">
                        <div class="wrapper-img">
                            <img :src="industry?.image?.url" class="img-fluid industry-img" alt="">
                        </div>
                        <div class="content">
                            <h5>{{ industry?.title }}</h5>
                            <p>{{ industry?.description }}</p>
                            <router-link class="btn-custom btn btn-primary" :to="`industry/${industry._id}`">
                                More Detail
                            </router-link>
                        </div>
                    </div>
                </li>
            </ul> -->

      <!-- list industry -->
      <div class="mt-5 mb-5">
        <ul class="ul-industry list-unstyled">
          <li
            class="list-industry"
            data-aos="zoom-in-down"
            v-for="industry in industries"
          >
            <div class="industry">
              <div class="wrapper-img">
                <img
                  :src="industry?.image?.url"
                  class="img-fluid industry-img w-100"
                  alt=""
                />
              </div>
              <div class="content">
                <h5 style="font-weight: 600; font-size: 23px;">{{ industry?.title }}</h5>

                <p>{{ industry?.description }}</p>
                <!-- <a href="#" class="btn-custom btn btn-primary">Show More</a> -->
                <router-link
                  class="btn-custom btn btn-primary"
                  :to="`industry/${industry._id}`"
                >
                  More Detail
                </router-link>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- end -->
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      id: "",
      industries: [],
    };
  },
  methods: {
    async getSubProductById() {
      const industries = await axios
        .get("industry?sortField=_id")
        .then((res) => res.data.data.items);
      this.industries = industries;
    },
  },

  async mounted() {
    await this.getSubProductById();
  },
};
</script>

<style lang="scss" scoped>
.industry-page {
  margin-top: 150px;

  h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }

  ul {
    &.ul-industry {
      .list-industry:nth-child(odd) {
        .industry {
          display: flex;

          .wrapper-img {
            .industry-img {
              border-radius: 16px;
              max-width: 500px;
              max-height: 300px;
            }
          }

          .content {
            margin-left: 32px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .btn-custom {
              width: fit-content;
            }
          }
        }
      }

      .list-industry:nth-child(even) {
        .industry {
          display: flex;
          flex-direction: row-reverse;

          .wrapper-img {
            .industry-img {
              border-radius: 16px;
              max-width: 500px;
              max-height: 300px;
            }
          }

          .content {
            margin-left: 32px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .btn-custom {
              width: fit-content;
            }
          }
        }
      }
    }
  }
}
.btn-custom {
  color: white;
  background-color: #164571;
  border: none;
  padding: 10px 10px;

  &:hover {
    color: #164571;
    background-color: white;
    border: 2px solid #164571;
  }
}

// responsive
@media (max-width: 1200px) and (min-width: 1025px) {
}
@media (max-width: 768px) and (min-width: 481px) {
}

@media (max-width: 1024px) and (min-width: 769px) {
  ul li {
    margin: 100px 0;
  }
}

@media (max-width: 768px) and (min-width: 481px) {
  ul li {
    margin-bottom: 50px;
  }
  .industry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .industry .content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 32px;
    margin-top: 20px;
  }

  .industry-page {
    ul {
      &.ul-industry {
        .list-industry:nth-child(even) {
          .industry {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  ul li {
    margin-bottom: 50px;
  }
  .industry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .industry .content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 32px;
    margin-top: 20px;
  }

  .industry-page {
    ul {
      &.ul-industry {
        .list-industry:nth-child(even) {
          .industry {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}
</style>
