<template>
    <div class="industryDetail-page">
        <h2>Industry Detail</h2>

        <ul class="ul-industry list-unstyled m-0">
            <li class="list-industry" data-aos="zoom-in-down" v-for="industryDetail in industryDetails">
                <div class="industry">
                    <div class="wrapper-img">
                        <img :src="industryDetail?.image?.url" class="img-fluid industry-img" alt="">
                    </div>
                    <div class="content">
                        <h5 style="font-weight: 600; font-size: 23px;">{{ industryDetail?.title }}</h5>
                        <p>{{ industryDetail?.description }}</p>
                        <!-- <router-link class="btn-custom btn btn-primary" :to="`industry/${industry._id}`">
                            More Detail
                        </router-link> -->
                    </div>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>

import axios from 'axios'
export default {
    data() {
        return {
            id: '',
            industryDetails: [],

        };
    },
    methods: {
        async getDetailById() {
            const industryDetail = await axios.get(`industry/detail/${this.id}`).then(res => res.data)
            console.log(industryDetail)
            this.industryDetails = industryDetail
        },

    },
    created() {
        this.id = this.$route.params.id
    },

    async mounted() {
        await this.getDetailById()
    }
}

</script>

<style lang="scss" scoped>
.industryDetail-page {
    margin-top: 150px;

    h2 {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 24;
    }

}

.ul-industry {
    .list-industry:nth-child(odd) {
        background-color: rgba(58, 108, 157, 0.113);
        padding: 20px 0px 20px 0px;

        .industry {
            padding: 20px;
            display: flex;

            .wrapper-img {
                .industry-img {
                    border-radius: 16px;
                    max-width: 500px;
                    max-height: 300px;
                }
            }

            .content {
                margin-left: 32px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .btn-custom {
                    width: fit-content;
                }
            }
        }
    }

    .list-industry:nth-child(even) {
        padding: 20px 0px 20px 0px;

        .industry {
            display: flex;
            flex-direction: row-reverse;
            padding: 20px;

            .wrapper-img {
                .industry-img {
                    border-radius: 16px;
                    max-width: 500px;
                    max-height: 300px;
                }
            }

            .content {
                margin-left: 32px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .btn-custom {
                    width: fit-content;
                }
            }
        }
    }

}


// responsive
@media (max-width:1200px) and (min-width:1025px) {}
@media (max-width:768px) and (min-width:481px){}


@media (max-width:1024px) and (min-width:769px) {
    .industryDetail-page {
    margin-top: 150px;

    h2 {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 24;
    }

}

.ul-industry {
    .list-industry:nth-child(odd) {
        background-color: rgba(58, 108, 157, 0.113);
        padding: 20px 0px 20px 0px;
        

        .industry {
            padding: 20px;
            display: flex;

            .wrapper-img {
                .industry-img {
                    border-radius: 16px;
                    max-width: 450px;
                    max-height: 250px;
                }
            }

            .content {
                margin-left: 32px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .btn-custom {
                    width: fit-content;
                }
            }
        }
    }

    .list-industry:nth-child(even) {
        padding: 20px 0px 20px 0px;

        .industry {
            display: flex;
            flex-direction: row-reverse;
            padding: 20px;

            .wrapper-img {
                .industry-img {
                    border-radius: 16px;
                    max-width: 450px;
                    max-height: 250px;
                }
            }

            .content {
                margin-left: 32px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-right: 15px;

                .btn-custom {
                    width: fit-content;
                }
            }
        }
    }

}
}


@media (max-width:768px) and (min-width:481px) {
    .content {
        margin-right: 32px;
    }

    .content h5 {
        text-align: center;
        padding: 20px 0 0 15px;
    }
    .content p {
        text-align: center;
    }

    .industryDetail-page {
    margin-top: 150px;

    h2 {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 24;
    }


}

.ul-industry {
    .list-industry:nth-child(odd) {
        background-color: rgba(58, 108, 157, 0.113);
        padding: 20px 0px 20px 0px;
        .industry {
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .wrapper-img {
                .industry-img {
                    border-radius: 16px;
                    max-width: 450px;
                    max-height: 250px;
                }

            }
        }
    }

    .list-industry:nth-child(even) {
        padding: 20px 0px 20px 0px;

        .industry {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;

            .wrapper-img {
                .industry-img {
                    border-radius: 16px;
                    max-width: 450px;
                    max-height: 250px;
                }
            }

            .content {
                margin-left: 32px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-right: 15px;

                .btn-custom {
                    width: fit-content;
                }
            }
        }
    }

}
}


@media (max-width:480px) {
    img {
        width: 100%;
    }

    .content {
        margin-right: 32px;
    }

    .content h5 {
        text-align: center;
    }
    .content p {
        text-align: center;
        padding: 10px 0px;
    }

    .industryDetail-page {
    margin-top: 150px;

    h2 {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 24;
    }
}

.ul-industry {
    .list-industry:nth-child(odd) {
        background-color: rgba(58, 108, 157, 0.113);
        padding: 20px 0px 20px 0px;
        .industry {
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .wrapper-img {
                .industry-img {
                    border-radius: 16px;
                    max-width: 450px;
                    max-height: 250px;
                    margin-bottom: 20px;
                }

            }
        }
    }

    .list-industry:nth-child(even) {
        padding: 20px 0px 20px 0px;

        .industry {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;

            .wrapper-img {
                .industry-img {
                    border-radius: 16px;
                    max-width: 450px;
                    max-height: 250px;
                    margin-bottom: 20px;
                }
            }

            .content {
                margin-left: 32px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-right: 15px;

                .btn-custom {
                    width: fit-content;
                }
            }
        }
    }
}
}


</style>



