<template>
    <div class="container login-page mb-5" style=" height: auto;">
        <h1 class="text-center mb-4">Login</h1>
        <div class="form Login-form border rounded-3 p-5 m-auto w-75">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" v-model="form.email">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-2">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" v-model="form.password">
            </div>
            <!-- <router-link class="nav-link mt-2 mb-4 d-inline" to="/reset-password" style="color: blue">Forgot Password ?</router-link><br/> -->
            <button @click="OnLogin" class="btn btn-primary mt-3">Submit</button>
            
            <!-- <p class="mt-2">Register here </p> -->
            <div class="d-flex mt-2">
                <p style="padding-right: 10px">Don't have an account ?</p>
                <router-link class="nav-link" style="color: blue" to="/register">Register here</router-link>
            </div>
        </div>
    </div>
</template>


<script>
import axios from 'axios'
import Swal from 'sweetalert2'

export default {
    data() {
        return {
            form: {
                email: '',
                password: '',
            },

        }
    },
    methods: {
        async OnLogin() {
            const result = await axios.post(`users/login`, this.form).then(res => {
                axios.defaults.headers.common['Authorization'] = 'Bearer ' + res.data.access_token;
                localStorage.setItem('token', JSON.stringify(res.data.access_token));

                if (res.status == 201) {
                    // reload for update nav bar
                    window.location.href = '/'
                    // this.$router.push('/')
                }
                return res
            }).catch((error) => {
                Swal.fire({
                    title: 'Invalid Credential !',
                    text: `${error.response.data.message}`,
                    icon: 'error',
                    confirmButtonText: 'Try again'
                })
            })

        }
    }
}
</script>


<style lang="scss" scoped>

// responsive
@media (max-width:1200px) and (min-width:1025px) {}
@media (max-width:1024px) and (min-width:769px) {}

.login-page {
    height: 50vh;
    margin-top: 150px;
}
</style>