<template>
  <div class="container register-page mb-5" style="width: 100vw; height: auto;">
    <h1 class="text-center mb-4">Register</h1>


    <div class="form  border rounded-3 p-5 w-75 m-auto">
      <div class="mb-3">
        <label for="fullname" class="form-label">Full Name</label>
        <input class="form-control" id="fullname" v-model="form.fullName">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          v-model="form.email">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" v-model="form.password">
      </div>
      <div class="mb-3">
        <label for="fullname" class="form-label">Phone Number</label>
        <input class="form-control" id="phonenumber" v-model="form.phoneNumber">
      </div>
      <div class="mb-3">
        <label for="fullname" class="form-label">Address</label>
        <input class="form-control" id="address" v-model="form.address">
      </div>
      <button @click="OnRegister" class="btn btn-primary">Register</button>
      <!-- <p class="mt-2">Register here </p> -->
      <div class="d-flex mt-2">
        <p style="padding-right: 10px">Have an account already?</p>
        <router-link class="nav-link" style="color: blue" to="/login">Login here</router-link>
      </div>
      


    </div>
  </div>
</template>


<script>
import axios from 'axios'

export default {
  data() {
    return {
      form: {
        email: '',
        password: '',
        fullName: '',
        phoneNumber: '',
        address: '',
      },

    }
  },
  methods: {
    async OnRegister() {
      console.log("register", this.form)
      const result = await axios.post(`users/register`, this.form).then(res => {
        if (res.status == 201) {
          this.$router.push('/login')
        }
      })


    }
  }
}
</script>


<style lang="scss" scoped>
.register-page {
  height: 72vh;

  margin-top: 150px;
}
</style>