<template>
    <div
        class="container login-page mb-5"
        style="height: auto; margin-top: 150px"
    >
        <h1 class="text-center mb-4">Reset Password</h1>
        <div class="form Login-form border rounded-3 p-5 mx-auto w-75">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                    >Email address</label
                >
                <input
                    type="email"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    required
                />
            </div>
            <div class="mb-2">
                <label for="exampleInputPassword1" class="form-label">
                    New Password</label
                >
                <input
                    type="password"
                    class="form-control"
                    id="exampleInputPassword1"
                    required
                />
                <label for="exampleInputPassword1" class="form-label mt-3"
                    >Confirm Password</label
                >
                <input
                    type="password"
                    class="form-control"
                    id="exampleInputPassword1"
                    required
                />
            </div>
            <div class="d-flex justify-content-center">
                <button @click="Verification" class="btn btn-primary mt-2">
                    Create New Password
                </button>
            </div>
        </div>
    </div>
</template>

<script>
export default {};
</script>

<style></style>
