<template>
  <div class="sub-product-detail-page">
    <div class="cover container mt-5">
      <h4 style="font-weight: 600; font-size: 23px;">What is {{ subproduct.title }}?</h4>
      <p class="mt-4">{{ subproduct.description }}</p>
      <img :src="subproduct?.image?.url" alt="">
      <h1 class="price text-primary mt-3">{{ subproduct.price }} $</h1>
      <p class="text-danger">Pay online now get discount 20% off <span class="original-price text-bg-warning">{{ subproduct.price }}$ </span> &nbsp;to {{
        subproduct.discountPrice }}$</p>
      <div class="wrapper-action">
        <button class="btn btn-success m-4" data-bs-toggle="modal" @click="OnOpenModal"
          data-bs-target="#exampleModal">Order Now</button>

        <router-link class="btn btn-info btn-contactUs" to="/contact"
          >Contact Us</router-link
        >
      </div>
    </div>
  </div>

  <!-- modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Order Process</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <h6>Please Select Payment Method</h6>

          <div class="wrapper-radio mt-4">
            <div class="inputGroup">
              <input
                id="radio1"
                name="radio"
                v-model="OrderForm.paymentMethod"
                value="1"
                type="radio"
              />
              <label for="radio1">Case On Delivery</label>
            </div>
            <div class="inputGroup">
              <input
                id="radio2"
                name="radio"
                v-model="OrderForm.paymentMethod"
                value="2"
                type="radio"
              />
              <label for="radio2">Online Payment</label>
            </div>
          </div>
          <div class="case-on-delivery" v-if="OrderForm.paymentMethod == 1">
            <div class="form-group mt-3">
              <label>Full Name</label>
              <input
                type="text"
                v-model="OrderForm.fullName"
                class="form-control mt-1"
              />
            </div>
            <div class="form-group mt-3">
              <label>Address</label>
              <input
                type="text"
                v-model="OrderForm.address"
                class="form-control mt-1"
              />
            </div>

            <div class="form-group mt-3">
              <label>Contact Phone Number</label>
              <input
                type="text"
                v-model="OrderForm.phoneNumber"
                class="form-control mt-1"
              />
            </div>
          </div>
          <div class="online-payment" v-else="OrderForm.paymentMethod == 2">
            <h6 class="mt-4">Cash By Online Delivery To Get Discount 20%</h6>
            <h6>Full Price {{ subproduct.price }}$</h6>
            <h6>Discount Price {{ cashOnline.discountPrice }}$</h6>
            <h6>Your Balance {{ cashOnline.userBalance }}$</h6>

            <div class="wrapper-body">
              <div class="form-group mt-3">
              <label>Full Name</label>
              <input
                type="text"
                v-model="OrderForm.fullName"
                class="form-control mt-1"
              />
            </div>
            <div class="form-group mt-3">
              <label>Address</label>
              <input
                type="text"
                v-model="OrderForm.address"
                class="form-control mt-1"
              />
            </div>

            <div class="form-group mt-3">
              <label>Contact Phone Number</label>
              <input
                type="text"
                v-model="OrderForm.phoneNumber"
                class="form-control mt-1"
              />
            </div>
            </div>


          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" @click="OnSubmitOrder" class="btn btn-primary">Order</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import Swal from 'sweetalert2'

export default {
  data() {
    return {
      OrderForm: {
        paymentMethod: 1,
        subProductId: '',
        address: '',
        phoneNumber: '',
        fullName: ''
      },
      subproduct: {
        title: '',
        description: '',
        price: '',
        discountPrice: ''
      },
      subProductId: '',
      cashOnline: {
        userBalance: '',
        discountPrice: '',
      }
    }
  },
  methods: {
    OnOpenModal() {
      const subProductId = this.$route.params.id;
      this.OrderForm.subProductId = subProductId;
    },
    async GetOneSubProductById() {
      const subProduct = await axios.get(`sub-product/detail/${this.subProductId}`).then(result => result.data.data)
      this.subproduct = subProduct
      const originalPrice = subProduct.price
      const discountDecimal = 20 / 100 // discount for 20%
      const discountAmount = originalPrice * discountDecimal
      const discountPrice = originalPrice - discountAmount
      this.subproduct.discountPrice = discountPrice
      this.cashOnline.discountPrice = discountPrice
    },
    async OnSubmitOrder() {
      console.log("here >>")
      const token = localStorage.getItem("token")
      const bearerToken = `Bearer ${token?.substring(1, token.length - 1)}`
      const header = {
        'Content-Type': 'application/json',
        'Authorization': bearerToken
      }
      const orderResult = await axios.post('order', this.OrderForm, { headers: header }).then(response => {
        // success do nothing
        location.reload();

      }
      ).catch(error => {
        if (error.response.status === 400) {
          Swal.fire({
            title: 'Insufficient Balance',
            text: `Please Top Up your balance`,
            icon: 'error',
            confirmButtonText: 'Ok'
          })
        }
        if (error.response.status === 401) {
          Swal.fire({
            title: 'Please Login First',
            text: `Go to login `,
            icon: 'error',
            confirmButtonText: 'Ok'
          })
        }
      })
    },


    // GET PROFILE
    async getUserProfile() {
      const token = localStorage.getItem("token")

      const bearerToken = `Bearer ${token?.substring(1, token.length - 1)}`

      const header = {
        'Content-Type': 'application/json',
        'Authorization': bearerToken
      }
      const user = await axios.get('users/profile', { headers: header }).then(res => res.data.data).then(res=>{
        this.cashOnline.userBalance = res.ballance;
      }).catch(error =>{
        this.cashOnline.userBalance = 0;

      })

    },


  },
  async mounted() {
    await this.GetOneSubProductById()
    await this.getUserProfile()
  },
  created() {
    this.subProductId = this.$route.params.id
  },
}
</script>

<style lang="scss" scoped>
.sub-product-detail-page {
  margin-top: 150px;

  .original-price {
    text-decoration: line-through;
    color: rgb(96, 96, 96);
  }

  .cover {
    text-align: center;

    .wrapper-action {
      .btn-contactUs {
        color: white;
      }
    }
  }
}

.wrapper-radio {
  display: flex;
}

.inputGroup {
  width: 50%;
}

.inputGroup {
  background-color: #fff;
  display: block;
  margin: 10px 0;
  position: relative;

  label {
    padding: 12px 30px;
    width: 100%;
    display: block;
    text-align: left;
    color: #3c454c;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;

    &:before {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      content: "";
      background-color: #13304a;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale3d(1, 1, 1);
      transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
      opacity: 0;
      z-index: -1;
    }

    &:after {
      width: 32px;
      height: 32px;
      content: "";
      border: 2px solid #d1d7dc;
      background-color: #fff;
      background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
      background-repeat: no-repeat;
      background-position: 2px 3px;
      border-radius: 50%;
      z-index: 2;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      transition: all 200ms ease-in;
    }
  }

  input:checked ~ label {
    color: #fff;

    &:before {
      transform: translate(-50%, -50%) scale3d(56, 56, 1);
      opacity: 1;
    }

    &:after {
      background-color: #54e0c7;
      border-color: #54e0c7;
    }
  }

  input {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
  }
}

// codepen formatting
.form {
  padding: 0 16px;
  max-width: 550px;
  margin: 50px auto;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
}

body {
  background-color: #d1d7dc;
  font-family: "Fira Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

code {
  background-color: #9aa3ac;
  padding: 0 8px;
}

// responsive
@media (max-width: 768px) and (min-width: 481px) {
  img {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .cover p,
  .cover h4 {
    padding: 0 20px;
  }
  img {
    width: 100%;
  }
}
</style>
