<template>
  <div class="subproduct-page-cover container-fluid">
    <h1> {{ product.title }}</h1>
    <p>{{ product.description }}</p>
    <img :src="product?.logo?.url" alt="">
  </div>

  <div class="mt-5">
    <ul class="ul-subProduct list-unstyled mb-0">
      <li
        class="list-subProduct"
        data-aos="zoom-in-down"
        v-for="subProduct in subProducts"
      >
        <div class="subProduct">
          <div class="wrapper-img">
            <img
              :src="subProduct?.image?.url"
              class="img-fluid subProduct-img"
              alt=""
            />
          </div>
          <div class="content">
            <h5 style="font-weight: 600; font-size: 23px;">{{ subProduct?.title }}</h5>
            <p>{{ subProduct?.description }}</p>

            <div class="wrapper-global-btn mt-4">
              <router-link
                class="btn btn-info btn-custom"
                :to="`sub-product-detail/${subProduct._id}`"
                >See More</router-link
              >
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      id: "",
      subProducts: [],
      product: {},
    };
  },
  methods: {
    async getSubProductById() {
      const subProductsData = await axios
        .get(`sub-product/${this.id}`)
        .then((res) => res.data.data);
      console.log(subProductsData);
      this.subProducts = subProductsData;
    },
    async getProductById() {
      const product = await axios
        .get(`product/${this.id}`)
        .then((res) => res.data);
      console.log(product);
      this.product = product;
    },
  },
  created() {
    this.id = this.$route.params.id;
  },
  async mounted() {
    await this.getSubProductById();
    await this.getProductById();
  },
};
</script>

<style lang="scss" scoped>
.subproduct-page-cover {
  margin-top: 150px;
  text-align: center;
}

.ul-subProduct {
  .list-subProduct:nth-child(odd) {
    background-color: rgba(58, 108, 157, 0.113);
    padding: 20px 0px 20px 0px;

    .subProduct {
      padding: 20px;
      display: flex;

      .wrapper-img {
        .subProduct-img {
          border-radius: 16px;
          max-width: 500px;
          max-height: 300px;
        }
      }

      .content {
        margin-left: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .btn-custom {
          width: fit-content;
        }
      }
    }
  }

  .list-subProduct:nth-child(even) {
    padding: 20px 0px 20px 0px;

    .subProduct {
      display: flex;
      flex-direction: row-reverse;
      padding: 20px;

      .wrapper-img {
        .subProduct-img {
          border-radius: 16px;
          max-width: 500px;
          max-height: 300px;
        }
      }

      .content {
        margin-left: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .btn-custom {
          width: fit-content;
        }
      }
    }
  }
}

.btn-custom {
  color: white;
  background-color: #164571;
  border: none;
  padding: 10px 10px;

  &:hover {
    color: #164571;
    background-color: white;
    border: 2px solid #164571;
  }
}
</style>
