<template>
  <div class="wrapper-user-profile container">
    <h1 class="text-center" style="font-weight: 600">PROFILE</h1>
    <div class="d-flex align-items-start row mt-4 m-auto" id="wrapper-user">
      <div class="col-md-3 p-0" style="height: 60vh" id="nav">
        <div
          class="nav flex-column nav-pills me-3 custom-sidebar p-3"
          id="v-pills-tab"
          role="tablist"
          aria-orientation="vertical"
          style="height: 100%"
        >
          <div
            class="menu-link-custom active"
            id="v-pills-home-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-home"
            role="tab"
            aria-controls="v-pills-home"
            aria-selected="true"
          >
            Profile
          </div>
          <div
            class="menu-link-custom"
            id="v-pills-profile-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-profile"
            role="tab"
            aria-controls="v-pills-profile"
            aria-selected="false"
          >
            Top Up
          </div>
          <div
            class="menu-link-custom"
            id="v-pills-messages-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-messages"
            role="tab"
            aria-controls="v-pills-messages"
            aria-selected="false"
          >
            Setting
          </div>

          <div
            class="menu-link-custom"
            id="v-pills-order-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-order"
            role="tab"
            aria-controls="v-pills-order"
            aria-selected="false"
          >
            Order
          </div>
          <div class="menu-link-custom">
            <button type="button" class="btn btn-danger logout-btn-custom" @click="OnLogout">Logout</button>
          </div>
        </div>
      </div>
      <div class="col-md-9 p-0 rounded-3" style="height: 60vh" id="info">
        <div
          class="tab-content wrapper-content px-5 py-4 h-100"
          id="v-pills-tabContent"
          style="overflow-y: auto"
        >
          <!-- PROFILE -->
          <div
            class="tab-pane fade show active"
            id="v-pills-home"
            role="tabpanel"
            aria-labelledby="v-pills-home-tab"
          >
            <div class="wrapper-profile">
              <h4 style="font-size: 22px; font-weight: 500">
                User Information
              </h4>
              <div class="wrapper-body mt-4">
                <table class="tb-info">
                  <tbody>
                    <tr>
                      <th
                        scope="row"
                        style="padding: 10px 30px 10px 0px; font-weight: 500"
                      >
                        Name
                      </th>
                      <td>: {{ userProfile.fullName }}</td>
                    </tr>
                    <tr>
                      <th
                        scope="row"
                        style="padding: 10px 30px 10px 0px; font-weight: 500"
                      >
                        Email
                      </th>
                      <td>: {{ userProfile.email }}</td>
                    </tr>
                    <tr>
                      <th
                        scope="row"
                        style="padding: 10px 30px 10px 0px; font-weight: 500"
                      >
                        Phone Number
                      </th>
                      <td>: {{ userProfile.phoneNumber }}</td>
                    </tr>
                    <tr>
                      <th
                        scope="row"
                        style="padding: 10px 30px 10px 0px; font-weight: 500"
                      >
                        Address
                      </th>
                      <td>: {{ userProfile.address }}</td>
                    </tr>
                    <tr>
                      <th
                        scope="row"
                        style="padding: 10px 30px 10px 0px; font-weight: 500"
                      >
                        Balance
                      </th>
                      <td>: {{ userProfile.ballance }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- TOP UP -->
          <div
            class="tab-pane fade"
            id="v-pills-profile"
            role="tabpanel"
            aria-labelledby="v-pills-profile-tab"
          >
            <div class="wrapper-topup">
              <h4 style="font-size: 22px; font-weight: 500">Top Up</h4>
              <div class="wrapper-body mt-4" style="font-size: 16px">
                <label class="mt-1 mb-2">Amount</label>
                <input
                  class="form-control w-100"
                  v-model="topUpObject.amount"
                  type="text"
                  placeholder="$"
                />
                <label class="mt-3 mb-2">Transaction</label>
                <input
                  class="form-control w-100"
                  @change="handleFileUpload"
                  type="file"
                  placeholder="Transaction"
                />
                <button @click="OnSubmitTopUp" class="btn btn-success mt-4">
                  Submit
                </button>
              </div>
            </div>
          </div>
          <!-- SETTING -->
          <div
            class="tab-pane fade"
            id="v-pills-messages"
            role="tabpanel"
            aria-labelledby="v-pills-messages-tab"
          >
            <div class="wrapper-setting">
              <h4>Setting</h4>
              <div class="wrapper-body mt-4" style="font-size: 16px">
                <label class="mt-2">Full Name</label>
                <input
                  class="form-control w-100 mt-2"
                  v-model="updateUserProfile.fullName"
                  type="text"
                  :placeholder="userProfile.fullName"
                />

                <label class="mt-3">Email</label>
                <input
                  class="form-control w-100 mt-2"
                  type="text"
                  v-model="updateUserProfile.email"
                  :placeholder="userProfile.email"
                />

                <label class="mt-3">Password</label>
                <input
                  class="form-control w-100 mt-2"
                  v-model="updateUserProfile.password"
                  type="text"
                  placeholder="Password"
                />

                <button @click="OnUpdateProfile" class="btn btn-success mt-4">
                  Update
                </button>
              </div>
            </div>
          </div>
          <!-- LIST ORDER -->
          <div
            class="tab-pane fade"
            id="v-pills-order"
            role="tabpanel"
            aria-labelledby="v-pills-order-tab"
          >
            <div class="wrapper-order-list">
              <h4 style="font-size: 22px; font-weight: 500">Order List</h4>
              <div class="wrapper-body mt-4">
                <div class="ul-product-ordered">
                  <div>
                    <table class="table" style="font-size: 16px">
                      <thead>
                        <tr>
                          <th scope="col">Image</th>
                          <th scope="col">Title</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          class="li-product-ordered"
                          v-for="order in listOrders"
                        >
                          <td>
                            <img
                              :src="order.subProductId?.image?.url"
                              alt="image product"
                              style="max-width: 120px; margin-left: -20px"
                            />
                          </td>
                          <td>
                            <p style="font-size: 16px">
                              {{ order.subProductId.title }}
                            </p>
                          </td>
                          <td>
                            <div class="status">
                              <p style="font-size: 16px">
                                {{ getTextForStatus(order.status) }}
                              </p>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- <ul class="ul-product-ordered">
                  <li class="li-product-ordered border border-1 flex align-center justify-center" v-for="order in listOrders">
                    
                    <div class="wrapper-product">
                      <div class="detail">
                        <img :src="order.subProductId?.image?.url" alt="image product" class="w-25">
                      </div>
                      <div>
                        <h6>{{ order.subProductId.title }}</h6>
                      </div>

                      <div class="status">
                        <p style="font-size: 16px;">{{ getTextForStatus(order.status) }}</p>
                      </div>
                    </div>
                  </li>
                </ul> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- {{ listOrders }} -->
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";

export default {
  data() {
    return {
      userProfile: {
        fullName: "",
        email: "",
        phoneNumber: "",
        address: "",
        ballance: 0,
      },
      topUpObject: {
        amount: null,
        transactionPhoto: "",
      },
      updateUserProfile: {
        fullName: undefined,
        email: undefined,
        password: undefined,
      },
      listOrders: [],
    };
  },
  methods: {
    // GET PROFILE
    async getUserProfile() {
      const token = localStorage.getItem("token");

      const bearerToken = `Bearer ${token?.substring(1, token.length - 1)}`;

      const header = {
        "Content-Type": "application/json",
        Authorization: bearerToken,
      };
      const user = await axios
        .get("users/profile", { headers: header })
        .then((res) => res.data.data);
      this.userProfile.fullName = user.fullName;
      this.userProfile.email = user.email;
      this.userProfile.phoneNumber = user.phoneNumber;
      this.userProfile.address = user.address;
      this.userProfile.ballance = user.ballance;
    },
    // upload image
    async handleFileUpload(event) {
      const fileObject = event.target.files[0];

      const formData = new FormData();
      formData.append("file", fileObject);

      const file = await axios
        .post("files/upload", formData)
        .then((response) => {
          this.topUpObject.transactionPhoto = response.data._id;
          console.log(response);
        })
        .catch((error) => {
          console.log(error);
        });
    },
    // TOP UP
    async OnSubmitTopUp() {
      const token = localStorage.getItem("token");
      const bearerToken = `Bearer ${token?.substring(1, token.length - 1)}`;
      const header = {
        "Content-Type": "application/json",
        Authorization: bearerToken,
      };
      const topUp = await axios
        .post("topup", this.topUpObject, { headers: header })
        .then((res) => {
          if (res.data.code == 200) {
            Swal.fire({
              title: "Top Up Success",
              text: `Send Request Success`,
              icon: "success",
              confirmButtonText: "Ok",
            });
            this.topUpObject.amount = "";
            this.topUpObject.transactionPhoto = null;
          }
        });
    },

    // UPDATE USER
    async OnUpdateProfile() {
      const token = localStorage.getItem("token");
      const bearerToken = `Bearer ${token?.substring(1, token.length - 1)}`;
      const header = {
        "Content-Type": "application/json",
        Authorization: bearerToken,
      };
      const updateResult = await axios
        .put("users", this.updateUserProfile, { headers: header })
        .then((response) => {
          if (response.data.code == 200) {
            Swal.fire({
              title: "Update Success",
              text: `${response.data.data}`,
              icon: "success",
              confirmButtonText: "Ok",
            });
          }
        });
    },

    // List Order
    async listOrder() {
      const token = localStorage.getItem("token");
      const bearerToken = `Bearer ${token?.substring(1, token.length - 1)}`;
      const header = {
        "Content-Type": "application/json",
        Authorization: bearerToken,
      };

      const result = await axios
        .get("order/listByUser", { headers: header })
        .then((res) => (this.listOrders = res.data.data));
    },

    getTextForStatus(status) {
      return this.getStatusText(status);
    },

    // logout
    async OnLogout() {
      console.log("Logout");
      localStorage.clear();
      this.$router.push('/');
      location.reload();
    }
  },
  computed: {
    getStatusText() {
      return (status) => {
        switch (status) {
          case 1:
            return "Pending";
          case 2:
            return "Accepted";
          case 3:
            return "Rejected";
          default:
            return "Invalid status.";
        }
      };
    },
  },
  async mounted() {
    await this.getUserProfile();
    await this.listOrder();
  },
};
</script>

<style lang="scss" scoped>
// responsive
@media (max-width: 480px) {
  .tb-info {
    font-size: 16px;
  }
  .li-product-ordered img {
    width: 100px;
  }
}

@media (max-width: 768px) {
  .li-product-ordered img {
    width: 100px;
  }

  #nav {
    max-width: 100%;
    max-height: 30vh;
    padding: 0px;
    margin-bottom: 15px;
    text-align: center;
  }
  .nav {
    width: 100%;
    max-height: 100%;
  }
}

.wrapper-body {
  font-size: 18px;
}
.wrapper-user-profile {
  margin-top: 150px;
  margin-bottom: 40px;

  .custom-sidebar {
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    .menu-link-custom {
      padding: 10px 30px;
      cursor: pointer;
    }

    .active {
      background-color: #2a6396;
      color: white;
      border-radius: 8px;
    }
  }

  .wrapper-content {
    background-color: rgba(247, 247, 247, 0.638);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 15px;
    border-radius: 10px;

    .wrapper-order-list {
      .wrapper-body {
        .ul-product-ordered {
          list-style: none;

          .li-product-ordered {
            .wrapper-product {
              padding: 0px 20px;
              display: flex;
              justify-content: space-between;
              align-items: center;

              .detail {
                h6 {
                  text-align: center;
                  margin-top: 16px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.logout-btn-custom{
  width: 100%
}
</style>
