<template>

<div class="about-us-homepage mt-5">
    <div class="container">
      <h4 class="text-center title">About Us</h4>
      <div class="content">
        <p>blue technology is a trusted business software solutions provider focusing on the Cambodian and ASEAN markets
          with customers in Cambodia, Vietnam, Myanmar, Laos, and Mongolia.</p>
        <p>
          Since 1999, blue technology has been a leader in providing business software solutions and consulting services
          in Cambodia. As a certified Microsoft Dynamics 365 and Salesforce partners we are able to help businesses
          improve their productivity and achieve optimum profitability and growth.
        </p>
      </div>
    </div>
  </div>


</template>

<style scoped>

  /* responsive */
  @media (max-width:1200px) and (min-width:1025px) {}
  @media (max-width:1024px) and (min-width:769px) {}
  @media (max-width:768px) and (min-width:481px){}
  @media (max-width:480px){}

</style>