<template>
    <swiper  :slidesPerView="1" :spaceBetween="30" :loop="true" :pagination="{
        clickable: true,
    }" :navigation="true" :modules="modules" class="mySwiper">
        <swiper-slide v-for="slider in sliders">
            <div class="carousel-item active w-100 mt-5" id="slider" style="max-height: 94vh;">
                <img :src="slider.image.url" class="d-block w-100" height="750px" alt="...">
            </div>
        </swiper-slide>
    </swiper>
</template>


<script >
// Import Swiper Vue.js components
import { Swiper, SwiperSlide } from 'swiper/vue';

// Import Swiper styles
import 'swiper/css';
import axios from 'axios'


import 'swiper/css/pagination';
import 'swiper/css/navigation';

//   import './style.css';

// import required modules
import { Pagination, Navigation } from 'swiper/modules';

export default {
    components: {
        Swiper,
        SwiperSlide,
        
    },
    data() {
        return {
            modules: [Pagination, Navigation],
            sliders: [] 

        };
    },
    methods: {
        async getSlider() {
            const sliderData = await axios.get('slider').then(res => res.data)
          
            this.sliders = sliderData

        }
    },
    async mounted() {
        await this.getSlider()
    }
};
</script>

<style scoped>

@media (max-width:1024px) {
    #slider {
        margin-top: 50px;
    }
}
@media (max-width:768px){
    #slider {
        margin-top: 40px;
    }
}
    #slider {
        width: 100vw;
        height: 100%;
    }
    #slider img {
        width: 100%;
        height: 100%;
    }
</style>
