<template>
  <div class="industry-homepage  mt-5 mb-5 p-3">
    <h4 class="title">Industry</h4>
    <p class="description">Many Industries always choose our service to support their business</p>
    <div class="container mt-5 mb-5">
      <ul class="ul-industry list-unstyled">
        <li class="list-industry" data-aos="zoom-in-down" v-for="industry in industries">
          <div class="industry">
            <div class="wrapper-img">
              <img :src="industry?.image?.url" class="img-fluid industry-img w-100" alt="">
            </div>
            <div class="content">
              <h5 style="font-weight: 600; font-size: 23px;">{{ industry?.title }}</h5>
              <p>{{ industry?.description }}</p>
              <!-- <a href="#" class="btn-custom btn btn-primary">Show More</a> -->
              <router-link class="btn-custom btn btn-primary" :to="`industry/${industry._id}`">
                More Detail
              </router-link>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="wrapper-global-btn d-flex justify-content-center mt-4">
      <router-link class="btn btn-info btn-custom" to="/industry">See More</router-link>
    </div>

  </div>
</template>

<script>


import axios from 'axios'
export default {
  data() {
    return {
      id: '',
      industries: [],

    };
  },
  methods: {
    async getSubProductById() {
      const industries = await axios.get('industry?limit=3&sortField=_id').then(res => res.data.data.items)
      this.industries = industries
    },
  },

  async mounted() {
    await this.getSubProductById()
  }
}
</script>

<style lang="scss" scoped>
.btn-custom {
  color: white;
  background-color: #164571;
  border: none;
  padding: 10px 10px;

  &:hover {
    color: #164571;
    background-color: white;
    border: 2px solid #164571;
  }
}

// responsive
@media (max-width:1200px) and (min-width:1025px) {}
@media (max-width:768px) and (min-width:481px){}
@media (max-width:480px){}

@media (max-width:1024px) and (min-width:769px) {
  ul li {
    margin: 100px 0;
  }
}

@media (max-width:768px) and (min-width:481px) {
  ul li{
    margin-bottom: 50px;
  }
  .industry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .industry .content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 32px;
    margin-top: 20px;
  }

  .industry-homepage {
    ul {
        &.ul-industry {
            .list-industry:nth-child(even) {
                .industry {
                    display: flex;
                    flex-direction: column;
                }
            }

        }
    }

}
}

@media (max-width:480px) {
    ul li{
    margin-bottom: 50px;
  }
  .industry-homepage {
    width: 100%;
    margin: auto;
  }
  .industry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .industry .content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 32px;
    margin-top: 20px;
  }

  .industry-homepage {
    ul {
        &.ul-industry {
            .list-industry:nth-child(even) {
                .industry {
                    display: flex;
                    flex-direction: column;
                }
            }

        }
    }
}
}
</style>