<template>
  <div class="our-customer mt-5 pt-5 pb-5">
    <h4 class="title">Our Customers</h4>
    <p class="description mb-5">We work closely with our customer</p>


    <swiper :slidesPerView="3" :spaceBetween="30" :freeMode="true"  :modules="modules" class="mySwiper">
      <swiper-slide v-for="partner in partners">
        <img :src="partner?.image?.url" class="img-fluid partner-img" alt="">
      </swiper-slide>

    </swiper>
  </div>
</template>

<script>
import { Swiper, SwiperSlide } from 'swiper/vue';
import 'swiper/css/free-mode';
import 'swiper/css/pagination';
import 'swiper/css';
import { FreeMode, Pagination } from 'swiper/modules';
import axios from 'axios'

export default {
  components: {
    Swiper,
    SwiperSlide,
  },
  data() {
    return {
      modules: [FreeMode, Pagination],
      partners: []
    }
  },
  methods: {
    async getPartner() {
      const partners = await axios.get('slider/partner').then(res => res.data)

      this.partners = partners

    }
  },
  async mounted() {
    await this.getPartner()
  }


};
</script>

<style lang="scss" scoped>
.swiper-slide{
  text-align: center;
}
.partner-img{
  width: 150px;
  height: 150px;
  object-fit: contain;
}
</style>