<template>
  <div class="product-homepage pt-5 pb-5">
    <h4 class="title">Product</h4>
    <p class="description">we provide many products to support your business </p>
    <div class="container mt-5">
      <div class="row product-row">
        <div class="col-md-4" v-for="product in products" id="card">
          <div class="card border-0">
            <div class="wrapper-card-img">
              <img :src=product.logo.url class="img-fluid product-card-img card-img-top" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title" style="font-weight: 600;">{{ product.title }}</h5>
              <p class="card-text card-text-product">
                {{ product.description }}
              </p>
              <router-link class="btn-custom btn btn-primary" :to="`product/${product._id}`">
                More Detail
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
  
<script >
import axios from 'axios'
export default {
  data() {
    return {
      products: []
    };
  },
  methods: {
    async getProduct() {
      const productsData = await axios.get('product?limit=3').then(res => res.data.data.items)
      this.products = productsData
    }
  },
  async mounted() {
    await this.getProduct()
  }
}

</script>

<style lang="scss" scoped>
.btn-custom {
  color: white;
  background-color: #164571;
  border: none;
  padding: 10px 10px;

  &:hover {
    color: #164571;
    background-color: white;
    border: 2px solid #164571;
  }

}

.card-text-product {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

// responsive
@media (max-width:1200px) and (min-width:1025px) {}
@media (max-width:1024px) and (min-width:769px) {}

@media (max-width:768px) and (min-width:481px) {

#card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card {
    width: 90%;
    margin-bottom: 30px;
    text-align: center;
    padding: 15px;
}
}

@media (max-width:480px) {
#card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card {
    width: 90%;
    border: 1px solid red;
    margin-bottom: 30px;
    text-align: center;
    padding: 15px;
    font-size: 16px;
}
.description {
    padding: 0 10px;
}
}
</style>