<template>
  <div class="service-homepage mt-5 mb-5">
    <h4 class="title">Service</h4>
    <p class="description">
      we provide array of service to support your business
    </p>
    <div class="container mt-5">
      <ul class="ul-service list-unstyled">
        <li
          class="list-service"
          data-aos="zoom-in-down"
          v-for="service in services"
        >
          <div class="service">
            <div class="wrapper-img">
              <img
                :src="service?.image?.url"
                class="img-fluid service-img w-100"
                alt=""
              />
            </div>
            <div class="content">
              <h5 style="font-weight: 600; font-size: 23px;">{{ service.title }}</h5>
              <p>{{ service.description }}</p>
            </div>
          </div>
        </li>
      </ul>
      <div class="wrapper-global-btn d-flex justify-content-center mt-4">
        <router-link class="btn btn-info btn-custom" to="/service"
          >See More</router-link
        >
      </div>
    </div>
  </div>
</template>

<script >
import axios from "axios";
export default {
  data() {
    return {
      services: [],
    };
  },
  methods: {
    async getService() {
      const serviceData = await axios
        .get("service-company?limit=3")
        .then((res) => res.data.data.items);
      this.services = serviceData;
    },
  },
  async mounted() {
    await this.getService();
  },
};
</script>

<style lang="scss" scoped>
.btn-custom {
  color: white;
  background-color: #164571;
  border: none;
  padding: 10px 10px;

  &:hover {
    color: #164571;
    background-color: white;
    border: 2px solid #164571;
  }
}

// responsive
@media (max-width: 1200px) and (min-width: 1025px) {
}

@media (max-width: 1024px) and (min-width: 769px) {
  ul li {
    margin: 50px 0;
  }
}

@media (max-width: 768px) and (min-width: 481px) {
  .service {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
  }
  .service .wrapper-img {
    width: 90%;
    margin-bottom: 30px;
  }
  .service .content {
    text-align: center;
    margin-right: 32px;
  }

  .service-homepage {
    ul {
      &.ul-service {
        .list-service:nth-child(even) {
          .service {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .service {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    font-size: 16px;
  }
  .service .content {
    text-align: center;
    margin-right: 32px;
  }
  .service .wrapper-img {
    width: 90%;
    margin-bottom: 30px;
  }
  .description {
    padding: 0 10px;
  }
  .service-homepage {
    ul {
      &.ul-service {
        .list-service:nth-child(even) {
          .service {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}
</style>