<template>
    <Navbar />
    <router-view/>
    <Footer/>
</template>

<script lang="ts" setup >

import Footer from './layouts/Footer.vue'
import Navbar from './layouts/Navbar.vue';
import { onMounted } from "vue";
import AOS from "aos";

onMounted(() => {
    AOS.init();
})

</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    font-family: 'ubuntu', sans-serif;
    font-size: 16px;
}

header {
    nav {
        .wrapper-nav {
            .logo {
                width: 120px;
                height: 120px;
                object-fit: contain;

            }

            .wrapper-menu {
                flex: revert !important;
            }

        }
    }
}

.about-us-homepage {
    .title {
        text-align: center;
        font-size: 32px;
        font-weight: bold;
        text-transform: uppercase;

    }

    .content {
        margin-top: 32px;
        text-align: center;
    }
}

.service-homepage {
    .title {
        text-align: center;
        font-size: 32px;
        font-weight: bold;
        text-transform: uppercase;

    }

    .description {
        text-align: center;
        margin-top: 32px;
    }

    ul {

        &.ul-service {
            .list-service:nth-child(odd) {
                .service {
                    display: flex;

                    .wrapper-img {
                        .service-img {
                            border-radius: 16px;
                            max-width: 500px;
                            max-height: 300px;
                        }
                    }

                    .content {
                        margin-left: 32px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                }
            }

            .list-service:nth-child(even) {
                .service {
                    display: flex;
                    flex-direction: row-reverse;

                    .wrapper-img {
                        .service-img {
                            border-radius: 16px;
                            max-width: 500px;
                            max-height: 300px;
                        }
                    }

                    .content {
                        margin-left: 32px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                }
            }

        }
    }
}

// ====== global styles on btn home page

// .wrapper-global-btn {
//     .btn-custom {
//         color: white;
//         background: rgb(22, 89, 166);
//         border: none;
//         padding: 10px 20px;
//     }
// }

.btn-custom {
    color: white;
    background: rgb(22, 89, 166);
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
}

.product-homepage {
    background-color: #f9f9f9;

    .title {
        text-align: center;
        font-size: 32px;
        font-weight: bold;
        text-transform: uppercase;

    }

    .description {
        text-align: center;
        margin-top: 32px;
    }

    .product-row {
        .card {
            border-radius: 16px;

            .wrapper-card-img {
                display: flex;
                justify-content: center;

                .product-card-img {
                    width: 200px;
                    height: 200px;
                    object-fit: contain;
                }
            }

        }
    }
}

.industry-homepage {
    .title {
        text-align: center;
        font-size: 32px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .description {
        text-align: center;
        margin-top: 32px;
    }


    ul {

        &.ul-industry {
            .list-industry:nth-child(odd) {
                .industry {
                    display: flex;

                    .wrapper-img {
                        .industry-img {
                            border-radius: 16px;
                            max-width: 500px;
                            max-height: 300px;
                        }
                    }

                    .content {
                        margin-left: 32px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        .btn-custom {
                            width: fit-content;
                        }
                    }
                }
            }

            .list-industry:nth-child(even) {
                .industry {
                    display: flex;
                    flex-direction: row-reverse;

                    .wrapper-img {
                        .industry-img {
                            border-radius: 16px;
                            max-width: 500px;
                            max-height: 300px;
                        }
                    }

                    .content {
                        margin-left: 32px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        .btn-custom {
                            width: fit-content;
                        }
                    }
                }
            }

        }
    }
}

.our-customer {
    background-color: rgb(242, 242, 242);
    .title {
        text-align: center;
        font-size: 32px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .description {
        text-align: center;
        margin-top: 32px;
    }

    .swiper {
        .swiper-wrapper {
            .swiper-slide {
                .wrapper-img {
                    display: flex;
                    justify-content: center;

                    .img-slider {
                        width: 150px;
                        height: 150px;
                        object-fit: contain;
                        margin-bottom: 32px;
                    }
                }
            }
        }
    }
}

.footer {
    padding: 32px 0px;
    background-color: rgb(245, 245, 245);

    .logo-col {
        .wrapper-logo {
            .logo {
                width: 200px;
                height: 200px;
                object-fit: contain;
            }
        }

        .title {
            color: rgb(50, 86, 125);
        }
    }

    .address-col {

        .ul-info {
            margin-top: 16px;

            .list-info {
                margin-top: 12px;

                span {
                    color: rgb(50, 86, 125);
                    font-weight: bold;
                }
            }
        }
    }

    .menu-col {
        .ul-menu {
            margin-top: 16px;

            .list-menu {
                margin-top: 12px;

            }
        }
    }

}

.global-paginate {
    margin-top: 32px;
    display: flex;
    justify-content: center;
}
</style>
