<template>
  <footer class="footer">
    <div class="wrapper-footer container">
      <div class="row">
        <div class="col-md-4 logo-col" id="logo">
          <div class="wrapper-logo">
            <img class="img-fluid logo" src="../assets/BlueTech_Large_KH.webp" alt="">
          </div>
          <h4 class="title" style="font-weight: 600;">Blue Technology Co., Ltd</h4>
        </div>
        <div class="col-md-4 menu-col">
          <h4>MENU</h4>
          <ul class="list-unstyled ul-menu">
            <li class="list-menu">
              <router-link class="nav-link" :class="$route.name == 'service' ? 'active' : ''"
                to="/service">Services</router-link>
            </li>
            <li class="list-menu">
              <router-link class="nav-link" :class="$route.name == 'product' ? 'active' : ''"
                to="/product">Products</router-link>
            </li>
            <li class="list-menu">
              <router-link class="nav-link" :class="$route.name == 'contact' ? 'active' : ''"
                to="/contact">Contact</router-link>
            </li>
            <li class="list-menu">
              <router-link class="nav-link" :class="$route.name == 'industry' ? 'active' : ''"
                to="/industry">Industries</router-link>
            </li>
          </ul>
        </div>
        <div class="col-md-4 address-col">
          <h4>INFO</h4>
          <ul class="list-unstyled ul-info">
            <li class="list-info"><span>Address</span> : {{ companyInfo.address }} </li>
            <li class="list-info"><span>Tel</span>: {{ companyInfo.phoneNumber }}</li>
            <li class="list-info"><span>Telegram</span>: {{ companyInfo.telegram }}</li>
            <li class="list-info"><span>Email</span>: {{ companyInfo.companyEmail }}</li>

            <li class="list-info">
              To apply for a job with blue technology, please send a cover letter together with your C.V. to:

              job@blue.com.kh
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      companyInfo: {
        _id: '',
        address: '',
        phoneNumber: '',
        telegram: '',
        companyEmail: ''
      }
    }
  },
  methods: {
    async getCompanyInfo() {
      const data = await axios.get('company-info').then(res => res.data)
      this.companyInfo = data
    }
  },
  async mounted() {
    await this.getCompanyInfo()
  }
}
</script>

<style scoped>

/* set logo and title to middle  */

  /* #logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */



@media (max-width:768px) {
  #logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .title {
    margin-bottom: 30px;
  }
}
@media (max-width:1024px) and (min-width:768px){
  .title {
    font-size: 19px;
  }
}
</style>