<template>
  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top p-0">
      <div class="container wrapper-nav">
        <div class="top-nav">
          <a class="navbar-brand" href="#">
            <img
              class="img-fluid logo"
              src="../assets/BlueTech_Large_KH.webp"
              alt=""
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse wrapper-menu" id="navbarNav">
          <ul class="navbar-nav" style="display: flex; align-items: center;">
            <li class="nav-item">
              <router-link
                class="nav-link"
                :class="$route.name == 'service' ? 'active' : ''"
                to="/service"
                >Services</router-link
              >
            </li>
            <li class="nav-item">
              <router-link
                class="nav-link"
                :class="$route.name == 'product' ? 'active' : ''"
                to="/product"
                >Products</router-link
              >
            </li>
            <li class="nav-item">
              <router-link
                class="nav-link"
                :class="$route.name == 'industry' ? 'active' : ''"
                to="/industry"
                >Industries</router-link
              >
            </li>
            <li class="nav-item">
              <router-link
                class="nav-link"
                :class="$route.name == 'contact' ? 'active' : ''"
                to="/contact"
                >Contact</router-link
              >
            </li>
            <li class="nav-item" v-if="isAuth == false">
              <router-link
                class="nav-link"
                :class="$route.name == 'login' ? 'active' : ''"
                to="/login"
                >Login</router-link
              >
            </li>
            <li class="nav-item" v-else >
              <!-- <button class="nav-link" @click="OnLogout">Logout</button> -->
              <router-link class="nav-link" :class="$route.name == 'user' ? 'active' : ''" to="/user"><i class="bi bi-person-circle" style="font-size: 30px;" ></i></router-link>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</template>

<script>
export default {
  data() {
    return {
      isAuth: false,
    };
  },
  mounted() {
    const token = localStorage.getItem("token");

    if (token !== null) {
      this.isAuth = true;
    }
  },
  methods: {
    async OnLogout() {
      localStorage.removeItem("token");
      window.location.href = "/";
    },
  },
};
</script>

<style lang="scss" scoped>

// responsive
@media (max-width: 990px) {
  .navbar-nav {
    display: flex;
    flex-direction:column;
  }

  .navbar-nav > li {
    width: 100%;
  }
  .top-nav {
    height: 100px;
  }
  .wrapper-nav .top-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .wrapper-nav .top-nav button {
    justify-content: space-between;
  }
  .wrapper-nav {
    width: 100%;
  }
}

@media (max-width: 575px) and (min-width: 481px) {
  .top-nav {
    padding: 15px;
  }
  #navbarNav {
    padding-left: 10px;
  }
}

@media (max-width: 480px) {
  .top-nav {
    height: 90px;
    padding: 10px;
  }
  .top-nav .navbar-brand {
    width: 95px;
  }
  .top-nav .navbar-toggler {
    font-size: 17px;
  }

  #navbarNav {
    padding-left: 10px;
  }
}

nav {
  box-shadow: -2px 1px 9px 0px #50505063;
}
.nav-link {
  font-size: 16px;
  margin: 0px 10px 0px 10px;

  &.active {
    font-weight: bold;
  }
}
</style>
